.expense-date-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.3);
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 2px 2px 3px #000000;
    min-width: 60px;
    max-width: 70px;
    color: white;
    
    border: 1px solid white;
    .expense-date-month{
        font-size: 18px;
        font-weight: 700;
        padding: 4px 0;
    }
    .expense-date-day{
        font-size: 16px;
        font-weight: 400;
        padding: 1px 0;
    }
    .expense-date-year{
        font-size: 14px;
        font-weight: 400;
        padding: 1px 0;
    }
}